<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.LoggingMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.Logging" >
    <id column="id" property="id" />
    <result column="level" property="level" />
    <result column="msg" property="msg" />
    <result column="time" property="time" />
    <association property="userId" column="user_id" select="cn.wolfcode.mapper.UserMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" >
    delete from logging
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into logging (user_id, level, msg, time)
    values (#{userId.id}, #{level}, #{msg}, #{time})
  </insert>
  <update id="updateByPrimaryKey" >
    update logging
    set user_id = #{userId.id},
      level = #{level},
      msg = #{msg},
      time = #{time}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select id, user_id, level, msg, time
    from logging
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, level, msg, time
    from logging
  </select>

  <sql id="base_where">
    <where>
      <if test="keyword != null and keyword != ''">
        (level like concat('%',#{keyword},'%'))
      </if>
      <if test="level!=null and level!=''">
        and level=#{level}
      </if>
    </where>
  </sql>

  <select id="selectForCount" resultType="java.lang.Long">
    select count(*)
    from logging
    <include refid="base_where"/>
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select *
    from logging
    <include refid="base_where"/>
    limit #{start}, #{limit}
  </select>


</mapper>